.all_candies_container {
  background-color: #E8C2C2;
  height: fit-content;
  overflow-x: hidden;
}

.main__title__allCandies,
.main_error_empty {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Milligram, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;

}
.on_deals{
  padding-top: 60px;
}
.page-number {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color:transparent;
  color: #000;
  border: 1px solid #000000;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.page-number.active {
  background-color: #000;
  color: #fff;
}
.page-number:hover{
  background-color: #1C2431;
  color: #fff;
}

.shop_now_cart {
  border-bottom: 1px solid black;
}

.main_error_empty {
  height: 40.5vh;
  padding-top: 100px;
  font-weight: lighter;

}

.cadies_container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 5rem;

}
.scroll-top-button{
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: black;
  color: white;
  border: none;
  opacity: 0.7;
  border-radius: 4px;
  top: 90%;
  right: 3%;
  cursor: pointer;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}
.scroll-top-button.show {
  opacity: 1;
  visibility: visible;
}
.scroll-top-button:hover{
  transform: scale(1.1);
}
.scroll-top-button:active{
  transform: scale(0.9);
}
.selecttagall {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 6px;
}

.select-tag__control:hover {
  cursor: pointer;
}

.each_candy {
  width: 33%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.each_candy {
  position: relative;
}

.added-message {
  color: #23a094;
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.added-message.show {
  opacity: 1;
}

.each_candy_text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}


.candy__image {
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
  z-index: -1;
}

.candy__image {
  transition: transform 0.2s;
  z-index: -1;
}

.candy__image:hover {
  animation: rotate-cart 0.6s infinite alternate;

}

@keyframes rotate-cart {
  from {
    transform: rotate(-3deg);
  }

  to {
    transform: rotate(3deg);
  }
}

.candy__title {
  font-size: 1.4rem;

}

.candy__price {
  font-size: 1.2rem;
}

.each__candy__addToCart {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  border: 2px solid black;
  background-color: transparent;

  transition: all .14s ease-out;
}

.each__candy__addToCart:hover {
  transform: translate(-.25rem, -.25rem);
  box-shadow: .25rem .25rem #000;
}

.each__candy__addToCart:active {
  transform: translate(0rem, 0rem);
  box-shadow: 0rem 0rem #000;
}



.section-one {
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.5s ease-in-out;
  opacity: 0;
}

.section-one.animate {
  transform: translateX(0);
  opacity: 1;
}

.slide-in {
  transform: translateX(-100%);
}

.select-container {
  width: 200px;
  margin-left: auto;
}

.select-container .react-select__control {
  min-height: 32px;
}

.all__candies__h1andfilter {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1000;
}

.css-qr46ko {
  color: black;
}

.select-container .react-select__value-container {
  padding-top: 0;
  padding-bottom: 0;
}

@media(max-width: 900px) {
  .cadies_container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

  }

  .each_candy {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  }

  .main__title__allCandies {

    font-size: 1.8rem;
  }
}

@media(max-width: 500px) {
  .cadies_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

  }

  .each_candy {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  }

  .main__title__allCandies {
    font-size: 1.8rem;
  }
}
.empty_container {
  min-height: 60vh;
}

.EmptyImage {
  width: 100%;

}
.cart_empty_span {
height: 1200px;
}

/* 
::-webkit-scrollbar {
  width: 10px;
}
body{
  overflow-x: hidden;
}
::-webkit-scrollbar-track {
  background-color: #E8C2C2;
}
::-webkit-scrollbar-thumb {
  background-image: url("https://media.discordapp.net/attachments/1036375659326480457/1099604871491096656/image.png?width=180&height=1034");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50px;
  border: none;
} */



#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #D4CC6A;
  border-bottom-color: #D4CC6A;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

#header
{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666;
}

#content
{
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888;
}