* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_form_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.cart_items_card {
    width: 70%;
    margin-top: 7%;
}


.candy__image__cart {
    width: 100%;
    max-width: 200px;
}

.candy__title__cart {
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.candy__price__cart {
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.each_candy__cart {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 36px;
    border-radius: 4px;
    height: 240px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: .15rem .15rem 4px #000;

}

.each_candy_text__cart {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.number_input {
    height: 40px;
    border-radius: 6px;
    text-indent: 12px;
}
.trashcan{
    margin-top: 12px;
    cursor: pointer;
}
.checkout_main_section_cart {
    text-align: center;
    padding: 18px 12px;
    width: 25%;
    height: 400px;
    border-radius: 12px;
    top: 30%;
    right: 5%;
    position: fixed;
    border: 2px solid black;
    box-shadow: .15rem .15rem 4px #000;
}

.mapped_checkout_cart{
display: flex;
justify-content: space-between;
width: 80%;
margin: 0 auto;
}
.scrollable_div{
    padding-top: 25px;
}
.candy_mapped_chcekout{
    color: black;
    font-weight: lighter !important;
    font-size: 13px;
}
.cart_summary_title{
color: #ff90e8;
}
.seperator{
    display: flex;
    justify-content: space-between;
}
.scrollable_div{
    height: 195px;
    overflow-y: scroll;
}
.sub_total__container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.checkout_btn{
    width: 90%;
    margin: 0 auto;
    height: 55px;
    font-size: 1rem;
    border: solid .0625rem black;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    position: relative;
    top: 40px;
    transition: all .14s ease-out;
    margin-top: 2%;
}
.checkout_subtotal{
    color: black;
    font-weight: 900 ;
    letter-spacing: 1.2px;
}

.checkout_btn:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #ff90e8;
}


.checkout_btn:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}