* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_form_cart {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 95%;
    height: fit-content;

}
.body_cart{
background-color: #E8C2C2;
}
.quantity-button{
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 18px;
    margin: 0 15px;
}

.left_btn{
    margin-left: 0;
}
.error-message{
    position: relative;
    bottom: -10px;
    z-index: 50;
 font-size: 14px;
 color: red;
}


.cart_items_card {
    width: 70%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.deleteFuncitonality {
   
    border: none;
    cursor: pointer;
    background: none;
    margin-left: 40px;
}
.trashcan{
    transition: transform 0.2s;
    z-index: -1;
    margin-bottom: 2px;
}
.trashcan:hover {
    animation: rotate-cart 0.6s infinite alternate;

}

@keyframes rotate-cart {
    from {
        transform: rotate(-3deg);
    }

    to {
        transform: rotate(3deg);
    }
}

.candy__image__cart {
    width: 100%;
    max-width: 200px;
}

.candy__title__cart {
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.candy__price__cart {
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.each_candy__cart {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 36px;
    border-radius: 4px;
    height: 240px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: .15rem .15rem 4px #000;

}

.each_candy_text__cart {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.number_input {
    height: 40px;
    border-radius: 6px;
    text-indent: 12px;
}

.trashcan {
    margin-top: 12px;
    cursor: pointer;
}

.checkout_main_section_cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 18px 12px;
    width: 25%;
    height: fit-content;
    border-radius: 12px;
    margin-top: 7%;
    margin-bottom: 7%;
    right: 5%;
    position: sticky;
    border: 2px solid black;
    box-shadow: .15rem .15rem 4px #000;
}

.mapped_checkout_cart {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.scrollable_div {
    padding-top: 25px;
}

.candy_mapped_chcekout {
    color: black;
    font-weight: lighter !important;
    font-size: 13px;
}

.cart_summary_title {
    color: #ff90e8;

}

.seperator {
    display: flex;
    justify-content: space-between;
}

.scrollable_div {
    height: 197px;
    overflow-y: scroll;
}

.sub_total__container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 12px;
    margin-top: 30px;

}

.checkout_subtotal {
    color: #000;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.checkout_btn {}


.checkout_btn:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}