@font-face {
    font-family: Mabry Pro;
    src: url(../assets/fonts/19db990205089207b039.woff2);
}

.create__candy__container {
    background-image: url(../assets/images/Sprinkles-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.create__candy__container h1 {
    margin: 10px;
    font-size: 3rem;
    color: #FE1B86;
}

.errorsofall{
    text-align: right;
}
.create__candy__form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    background-color: #E9C1C1;
    padding: 50px 40px;
    border-radius: 8px;
    border: 3px dashed yellow;
}
.buttonsubmitadmin{
    margin-top: 40px !important;
    width: 50% !important;
    padding: 4px 12px;
}
.linkToAdminLogin{
margin-top: 12px;
border-bottom: 1px solid black;
}
.button_container_ls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_signup_user{
    height: 500px;
}
@media(max-width: 1040px){
    .create__candy__form{
        width: 50%;
    }
}

@media(max-width: 830px){
    .create__candy__form{
        width: 70%
    }
    .create__candy__label{
        font-size: 1rem;
    }
}

@media(max-width: 600px){
    .create__candy__form{
        width: 85%;
    }
    .create__candy__label{
        font-size: .8rem !important;
    }
    .create__candy__input{
        width: 30%;
    }
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.create__candy__label {
    font-size: 1.5rem;
    margin-top: 24px;
}
.loginBtnAdmin{
    width: 50% !important;
    height: 60px !important;
    border: .5px solid black;
}

.form-group{
    display: flex;
    align-items: center;

}
.create__candy__input {
    margin-top: 24px;
    height: 30px;
    width: 60%;
    font-size: 16px;
    border-radius: 6px;
    border: .5px solid gray;
    text-indent: 12px;
}
.newinput{
    margin-top: 24px;
    height: 60px;
    width: 60%;
    font-size: 16px;
    border-radius: 6px;
    border: .5px solid gray;
    text-indent: 12px;
}
.loginBtnAdmin{
    margin-top: 50px !important;
}
.login_admin_form{
    height: 400px;
}
.create__candy__error__message {
    color: red;
}


/*------ CREATE CANDY SUBMIT BUTTON------ */
.create__candy__submit__btn {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    height: 40px;
    font-size: 1.4rem;
    background-color: #8F7EDE;
    color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    text-align: center;
}

.create__candy__submit__btn:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #8EDECD;
    
}

.create__candy__submit__btn:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}

.loginBtnAdmi_dashboard{
    font-size: 1.4rem;
    background-color: #8F7EDE;
    color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    text-align: center;
    padding: 12px 40px;
    margin-left: 20px;
    font-weight: normal;
    border: 1px solid black;
}
.loginBtnAdmi_dashboard:hover {
    transform: translate(.25rem, .25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #E9C1C1;
    
}

.loginBtnAdmi_dashboard:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}

/*-----TOP BUTTONS ON CREATE/EDIT PAGE------*/
.edit__candy__top__buttons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.edit__candy__top__buttons__left {
    display: flex;
    margin-left: 5%;
}

@media(max-width: 460px) {
    .admin__logout__button {
        font-size: .8rem !important;
    }

    .landingPage__route__btn {
        font-size: .8rem !important;
    }

    .admin__delete__candy {
        font-size: .8rem !important;
    }

    .admin__landing__create {
        font-size: .8rem !important;
    }
}

/*------ Logout BUTTON------ */
.admin__logout__button {
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 5%;
    padding: 10px;
    width: fit-content;
    font-size: 1.4rem;
    background-color: #8F7EDE;
    color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    text-align: center;
}

.admin__logout__button:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #E9C1C1;
}

.admin__logout__button:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}


/*------ Dashboard Button------ */
.landingPage__route__btn {
    margin: 0 auto;
    margin-top: 10px;
    /* margin-left: 5%; */
    padding: 10px;
    width: fit-content;
    font-size: 1.4rem;
    background-color: #8F7EDE;
    color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    text-align: center;
}

.landingPage__route__btn__font {
    font-weight: normal;
}

.landingPage__route__btn:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #E9C1C1;
}

.landingPage__route__btn:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}

.create__dashboard__button {
    margin-left: 5%;
}


/*------ DELETE BUTTON------ */
.admin__delete__candy {
    margin-top: 10px;
    margin-right: 5%;
    padding: 10px;
    width: fit-content;
    font-size: 1.4rem;
    background-color: #E9C1C1;
    color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    text-align: center;
}

.admin__delete__candy:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #8F7EDE;
}

.admin__delete__candy:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}