.admin__body {
    /* background-image: url(../assets/images/Sprinkles-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; */
}

@font-face {
    font-family: Mabry Pro;
    src: url(../assets/fonts/19db990205089207b039.woff2);
}

.create__candy__container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-image: url(../assets/images/Sprinkles-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.create__candy__container h1 {
    margin: 10px;
    font-size: 3rem;
    color: #FE1B86;
}

.create__candy__form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    background-color: #E9C1C1;
    padding: 50px 40px;
    border-radius: 8px;
    border: 3px dashed yellow;
}

@media(max-width: 1040px){
    .create__candy__form{
        width: 50%;
    }
}

@media(max-width: 830px){
    .create__candy__form{
        width: 70%
    }
    .create__candy__label{
        font-size: 1rem;
    }
}

@media(max-width: 600px){
    .create__candy__form{
        width: 85%;
    }
    .create__candy__label{
        font-size: .8rem !important;
    }
    .create__candy__input{
        width: 30%;
    }
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.create__candy__label {
    font-size: 1.5rem;
    margin-top: 10px;
}

.create__candy__input {
    height: 30px;
    width: 60%;
}

.create__candy__error__message {
    color: red;
}

.create__candy__submit__btn {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    height: 40px;
    font-size: 1.4rem;
    background-color: #8F7EDE;
    color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    text-align: center;
}

.create__candy__submit__btn:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #8EDECD;
    
}

.create__candy__submit__btn:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}

.admin__logout__button {
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 5%;
    padding: 10px;
    width: fit-content;
    font-size: 1.4rem;
    background-color: #8F7EDE;
    color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    text-align: center;
}

.admin__logout__button:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #E9C1C1;
}

.admin__logout__button:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}