.body {
    background-image: url(../assets/images/snakeBackground.jpeg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    /* position: sticky; */
}

.slick-dots {
    bottom: -40px !important;
}

.title-link {
    font-size: 1.5rem;
    color: #000000 !important;
    text-transform: uppercase;
    font-family: Mabry Pro;
    text-align: start;
    margin-top: 2rem;
    font-size: 1.2rem;
    -webkit-text-stroke: 1px solid white;
    font-weight: 900;
}

.carousel-price {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    font-size: 30px;
}
.candy__title__carasoul{
    font-size: 14px;
}
.landing_carasoul{
    align-self: self-end;
    width: 100px;
    height: 30px;
    font-size: 12px;
    padding: 0  !important;
}
.carousel-original-price {
    color: #23a094;
    text-decoration: line-through;
    margin-right: 5px;
}

.carousel-discount-price {
    color: #000000;
    font-weight: bold;
    padding-left: 6px;

}
.carasoul_all_togethor{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.containerLink {
    width: 30%;
    margin-top: 7%;
    margin-left: 10%;
    z-index: 10;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Mabry Pro;
    font-size: 1rem;
    font-weight: 900;
}



@font-face {
    font-family: Mabry Pro;
    src: url(../assets/fonts/19db990205089207b039.woff2);
}

.all_item-container {
    margin-top: 15%;
}

.button {
    width: 20%;
    height: 55px;
    font-size: 1rem;
    border: solid .0625rem black;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    margin-top: 2%;
    margin-left: 10%;
}

.button:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #ff90e8;
}

.total_titel {
    margin-top: 0 !important;
}

.button:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}

.carasoul-button {
    width: 200px;
    height: 50px;
    font-size: 1rem;
    border: solid .0625rem black;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    margin-top: 100px;
}

.carasoul-button:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #ff90e8;
}

.carasoul-button:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}

.top__of__landing {
    content: '';
    display: none;
}

.section-one {
    height: 100vh;
    background-color: #f2e8cf;
    /* height: fit-content; */
}

.section-one_title {
    text-align: center;
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 900;
    color: #ffa9a6;
}

.gallery {
    background: #EEE;
}

/* Overflow needed when disable the splide__track */

img {
    width: 100%;
}

.carousel-pic:last-child {}

.tabindex {
    text-align: center;
}

.carousel-pic {
    width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 12px;
}
.carousel-pic:hover {
    animation: rotate-cart 0.6s infinite alternate;
  
  }
  
  @keyframes rotate-cart {
    from {
      transform: rotate(-3deg);
    }
  
    to {
      transform: rotate(3deg);
    }
  }

  
.carasoul_container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 7rem;

}

.slick-prev:before {
    color: black !important;
    font-size: 24px !important;
    opacity: 100% !important;
}
.slick-next{
    margin-right: 3px;
}
.slick-prev{
}

.slick-next::before {
    color: black !important;
    font-size: 24px !important;
    margin-right: 20px !important;
    opacity: 100% !important;
}

.landing_page_confident {
    border-top: 2px solid black;
    height: 100%;
    background-color: #ffd6d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 6% 12%;
}

.landing_page_confident__title {
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: Mabry Pro;
    font-weight: 900;
}

/* .wrapper {
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
   */
.breaker_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

.landing_page_confident__text {
    font-size: 1.5rem;
    width: 60%;
    line-height: 240% !important;

}

.landing_page_confident__image {
    width: 28%;
    border-radius: 12px;
}

@media(max-width: 1000px) {
    .body {
        background-image: url(../assets/images/snakeBackground1200.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
}

@media(max-height: 400px) {
    .containerLink {
        width: 30%;
        margin-left: 10%;
        z-index: 10;
        color: #ffffff;
        text-transform: uppercase;
        font-family: Mabry Pro;
        font-size: 0.4rem;
        font-weight: 900;
    }

    .title-link {
        font-size: 0.6rem;
        margin-top: 1rem;
    }

    .all_item-container {
        padding-bottom: 10% !important;
        margin-top: 10% !important;
    }

    .button {
        width: 12% !important;
        height: 20px !important;
        font-size: 0.5rem !important;
    }

}

.chrisSpecial::before {
    content: "Almond joy";
}
.link_to_deals{
    color: white;
}
@media(max-width: 1000px) {
    .landing_page_confident__text {
        line-height: 150% !important;
        font-size: 1.2rem !important;
    }

    .final_title__ {
        padding-top: 30px;
    }

    .containerLink {
        width: 30%;
        margin-left: 10%;
        z-index: 10;
        color: #ffffff;
        text-transform: uppercase;
        font-family: Mabry Pro;
        font-size: 0.6rem;
        font-weight: 900;
    }

    .title-link {
        font-size: 0.8rem;
        margin-top: 0.4rem;
    }

    .all_item-container {
        padding-bottom: 10% !important;
    }

    .button {
        width: 20% !important;
        height: 40px !important;
        font-size: 0.8rem !important;
    }
}

@media(max-width: 800px) {
    .containerLink {
        width: 70%;

    }

    .landing_page_confident__text {
        line-height: 100% !important;
        font-size: 1rem !important;
    }

    .landing_page_confident__title {
        font-size: 2rem;
    }

    .section-one_title {
        font-size: 2rem;
    }

    .landing_page_confident__image {
        width: 25%;
        height: auto;
        /* padding-right: 5%; */
        border-radius: 12px;
    }

    .carasoul_container {
        margin-top: 5%;
    }

    .carasoul-button {
        margin-bottom: 24px;
        margin-top: 50px;
        width: 150px;
        height: 40px;
    }

    @media (max-width: 700px) and (max-height: 700px) {

        .all_item-container {
            margin-top: 25%;
        }
    }

    @media(max-width: 540px) {
        .landing_page_confident {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .breaker_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .landing_page_confident__image {
            display: none;
        }

        .landing_page_confident__text {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            font-size: 0.8rem;
        }
    }

    @media (max-width: 550px) {
        .all_item-container {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 45%;
        }

        .button {
            width: 100% !important;
            padding: 2px 12px;
            text-align: center;
            margin: 0;
        }

        .containerLink {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 0;
        }

        .title-link {
            text-align: center;
        }

        .menu__backdrop {
            height: 300px;
        }

    }

    .section-one_title {
        font-size: 1.4rem;
        padding: 0 12px;
    }
}