:root {
    --spacer-1: .25rem;
    --spacer-2: .5rem;
    --spacer-3: .75rem;
    --spacer-4: 1rem;
    --spacer-5: 1.5rem;
    --spacer-6: 2rem;
    --spacer-7: 3rem;
    --spacer-8: 4rem;
    --border-radius-1: .25rem;
    --border-radius-2: .875rem;
    --border-radius-3: 10rem;
    --box-shadow-1: .25rem .25rem 0rem var(--primary);
    --box-shadow-2: .5rem .5rem 0rem var(--primary);
    --z-index-base: 0;
    --z-index-overlay: 1;
    --z-index-above-overlay: 2;
    --z-index-header: 3;
    --z-index-menubar: 10;
    --z-index-modal: 20;
    --z-index-tooltip: 30;
    --success: #23a094;
    --danger: #e2442f;
    --warning: #ffc900;
    --info: #90a8ed;
    --pink: #ff90e8;
    --purple: #90a8ed;
    --green: #23a094;
    --orange: #e2442f;
    --red: #98282a;
    --yellow-dark: #ffc900;
    --yellow: #010100;
    --black: #000000;
    --gray-500: #78716c;
    --gray-400: #a8a29e;
    --gray-300: #d6d3d1;
    --gray-200: #e7e5e4;
    --gray-100: #f4f4f0;
    --gray-050: #fbfbf9;
    --white: #ffffff;
    --primary: #000000;
    --contrast-primary: #ffffff;
    --accent: #ff90e8;
    --contrast-accent: #000000;
    --background: #ffffff;
    --breakpoint-sm: 640px;
    --breakpoint-md: 1024px;
    --font-family: Mabry Pro, sans-serif;
    --border: solid .0625rem currentColor;
    --border-width: .0625rem;
    --outline: .125rem solid #ff90e8;
    --big-icon-size: 1.5em;
    --grid-wrap-breakpoint: 31.25rem;
    --active-bg: #ffffff;
    --main-stack-width: 28rem;
    --dynamic-grid: min(100%, calc((31.25rem - 100%) * 1000));
    --disabled-opacity: .3;
    --form-element-height: 3.125rem;
    --faded-text-color: rgba(0, 0, 0, .8)
}

@font-face {
    font-family: Mabry Pro;
    src: url(../assets/fonts/19db990205089207b039.woff2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Mabry Pro;
}


nav {
    width: 90%;
    margin: 0 auto;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 12px 24px;
    background-color: #E8C3C2;
    box-shadow: 0 12px 20px #E8C3C2;
}

.logo_img {
    width: 240px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropbtn{
    margin: 0 20px;
    font-weight: lighter;
    transform: scale(1);
    transition: all 300ms ease-in-out;
}
.dropbtn:hover{
    transform: scale(1.1);
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}


li {
    list-style: none;
}

.header {
    margin: 0;
}

.nav__links {
    margin-right: 7%;
}


.row {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* LINKS */

.nav__list {
    font-size: 0.875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

a {
    color: black;
}

.nav__links {
    display: flex;
    align-items: center;
}

.signup__login {
    padding-right: 24px;
    color: black;
}

.signup {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.signup__login {
    padding-right: 24px;
}

.signup__primary,
.primary__button {
    margin-right: 20px;
    font-weight: bold;
    opacity: 0.95;
    transition: all 300ms ease;
}

.fa-cart-shopping {
    color: black;
    content: "1";
    transition: transform 0.2s;
    font-size: 50px;
}

.cart-count {
    position: absolute;
    top: -2px;
    right: 10px;
    background-color: var(--success);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-cart-shopping:hover {
    animation: rotate-cart 0.3s infinite alternate;
}

@keyframes rotate-cart {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(10deg);
    }
}

.a__primary {
    color: white;
    padding: 16px 20px;
    font-weight: bold;
}

.a__primary:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.signup__primary:hover {
    opacity: 1.0;
}


/* BUTTON */

.btn__menu {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    color: black;
    padding-right: 20px;
    display: none;
    transition: all 300ms ease;

}

.btn__menu:hover {
    color: rgba(79, 38, 214, 1);
}

.menu__backdrop {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 400px;
    right: 0px;
    margin: 1.5rem 2.0rem;
    padding: 2rem;
    border: 1px solid gray;
    text-align: center;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    transition: all 300ms ease;
    visibility: hidden;
    display: none;
    display: block;
    transform: translateX(150%) translateZ(0px);
}

@media(max-width:709px) {
    .menu__backdrop {
        left: 0px;
    }
}

.menu__backdrop,
.btn__menu:hover {
    cursor: pointer;
}

.menu--open .menu__backdrop {
    visibility: visible;
    display: flex;
    opacity: 1;
    display: block;
    transform: translateX(0%) translateZ(0px);
}

.btn__menu--close {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 2px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.btn__menu--close:hover {
    color: rgba(79, 38, 214, 1);
}


.menu--open {
    overflow-y: hidden;
    max-height: 100vh;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.signup__primary {
    color: white;
}

.menu__list {
    padding: 16px 0;
    display: flex;
}

.menu__link {
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 40px;
    padding: 4px;
    text-transform: uppercase;
}

.menu__link-primary {}

.menu__link:hover {
    border-bottom: 1px solid black;
}

.menu__link-primary {
    transition: all 300ms ease;

}

.menu__link-primary:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
}

.new_cart_count {}


@media(max-width: 1000px) {
    .logo_img {
        width: 200px;

    }

    .nav__links {
        display: none;
    }

    .second {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .cart-count {
        display: none;
    }

}

@media(max-width:650px) {
    .logo_img {
        width: 170px;
    }

    .menu__backdrop {
        height: 200px;
    }

    .menu__list {
        padding: 0;
    }
}