.one_candy_container{
height: 100%;
width: 100%;
background-color: #E8C2C2;
display: flex;
flex-direction: column;
}


.main_container_one_candy{
display: flex;
justify-content: space-between;
width: 95%;
margin: 0 auto;
margin-top: 20px;
}
.title_candy_categorttext{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 900;
}
.category_list_items{
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 100px;
    
}

.candy__image__solo{
    width: 50%;
    margin: 0 auto;
}
.candy_description_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
}

.candy__name__one{
    font-size: 2.4rem;
    margin-bottom: 24px;

}

.candy__price__one{
    font-size: 1.4rem;
    margin-bottom: 24px;
}
.one_candy_image{
    width: 50%;
    margin: 0 auto;
    border-radius: 24px;
    background-color: transparent;
}
.candy_image_container{
    text-align: center;
    width: 50%;
    margin-top: 100px;
    }
    
.candy__description__one{
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 16px;
    line-height: 150%;
    width: 70%;

}

.candy__category__one{
font-size: 1.4rem;
margin-bottom: 24px;

}
.container_button_badges{
    width: 50%;
    text-align: center;
}

.candy__stock__one{
font-size: 1.4rem;
margin-bottom: 24px;

}
.imageBagePayment{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}



.add_to_cart_one{
    width: 100%;
    height: 60px;
    font-size: 1rem;
    border: solid .0625rem black;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    margin-top: 30px;
    margin-bottom: 24px;
}
.added-message {
    color:#23a094;
    font-weight: bold;
    position: relative;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .added-message.show {
    opacity: 1;
  }

.add_to_cart_one:hover{
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #43cdf8;
}
.add_to_cart_one:active{
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}

@media(max-width: 1000px){
    .candy__description__one{
        width: 80%;
        font-size: 1.1rem;
    }
    .title_candy_categorttext{
        font-size: 2rem;
    }

}

@media(max-width: 1000px){
    .candy__description__one{
        width: 80%;
        font-size: 1rem;
        line-height: 110%;
        margin-top: 0;
        margin-bottom: 12px;
    }
    .candy__name__one{
        font-size: 1.5rem;
        margin-bottom: 6px;
    }
}

@media(max-width:700px) {
 .candy__description__one{
    display: none;
 }
}